*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  color: white;
}

.container {
  padding: 8.75rem 0 2rem;
  text-align: center;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background: url(../images/pattern-hills.svg) no-repeat right -150px bottom, url(../images/bg-stars.svg) no-repeat, linear-gradient(#1e1f29, #2F2439);
}

main {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3.5rem;
  -webkit-column-gap: .75rem;
          column-gap: .75rem;
  text-transform: uppercase;
}

main h1 {
  grid-column: 1 / -1;
  letter-spacing: 7px;
  font-size: 1.1rem;
}

main .card {
  width: 100%;
  height: 75px;
  background: #191a24;
  border-radius: .35rem;
  position: relative;
}

main .card-top {
  width: 100%;
  height: 92%;
  background: #343650;
  border-radius: .35rem;
}

.flip {
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {transform: rotateX(0);}
  25% {transform: rotateX(45deg);}
  50% {transform: rotateX(90deg);}
  75% {transform: rotateX(135deg);}
  100% {transform: rotateX(180deg);}
}

main .counts {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .circle {
  background: #191a24;
  width: .25rem;
  height: .5rem;
}

main .left {
  border-radius: .25rem 0 0 .25rem;
  position: absolute;
  top: 46%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .right {
  border-radius: 0 .25rem .25rem 0;
  position: absolute;
  top: 46%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main hr {
  width: calc(100% - .5rem);
  opacity: .1;
  border-top: 0.125rem solid #191a24;
  position: absolute;
  top: 46%;
  left: .25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main strong {
  width: 100%;
  color: #fb6087;
  font-size: 2.3rem;
}

main p {
  margin-top: .5rem;
  color: #8486a9;
  letter-spacing: 3px;
  font-size: .5rem;
}

footer {
  color: #8486a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ion-icon {
  font-size: 32px;
}

footer ion-icon:nth-of-type(2) {
  margin: 0 20px;
}

footer ion-icon:hover {
  color: #fb6087;
}

footer .attribution {
  color: white;
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .container {
    padding: 5rem 0 2rem;
  }
  main {
    grid-template-columns: repeat(4, 125px);
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  main .card {
    height: 125px;
  }
  main strong {
    font-size: 3rem;
  }
  main p {
    font-size: .6rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  body {
    padding: 0;
  }
  .container{
    padding: 5.75rem 0 2rem;

    background: url(../images/pattern-hills.svg) no-repeat center bottom, url(../images/bg-stars.svg) top center no-repeat, linear-gradient(#1e1f29, #2F2439);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  main {
    grid-template-columns: repeat(4, 150px);
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  main .card {
    height: 150px;
  }
  main h1 {
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }
  main strong {
    font-size: 3.5rem;
  }
  main p {
    font-size: .6rem;
  }
}
/*# sourceMappingURL=main.css.map */